.link {
  text-decoration: none;
  margin: 0% 2%;
}

.logo {
  width: 200px;
  height: 100px;
}

nav {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.buttons {
  width: 30%;
  display: flex;
  justify-content: center;
}
