.panel {
  display: flex;
  flex-direction: column;
  width: 28%;
  text-align: center;
}

.panelContainer {
  display: flex;
  margin: 10% auto;
  justify-content: center;
}

.panelTitle {
  font-size: 2.5rem;
}

.panelParagraph {
  font-size: 1.5rem;
  margin: 0%;
}
