.slogan {
  color: grey;
}

.policy {
  display: flex;
  flex-direction: column;
  line-height: 0.5;
}

#register-button {
  width: 14.35rem;
}

.center {
  text-align: center;
  margin-top: 5%;
}

.ninja {
  margin-top: 5%;
}

.flexy {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: 0 auto;
}
